body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(204, 235, 245);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.header {
	text-align: center;
}
h1 {
    font: 800 40px 'Montserrat', sans-serif;
    margin: 20px 0;
}

ul {
    height: 400px;
}

li {
    font: 300 20px 'Ubuntu', sans-serif;
    background: rgb(110, 54, 89);
    border-bottom: 3px solid #5887b6;
    margin: 20px 0 0 0;
}
#inputGroup-sizing-default{
    font: 400 20px 'Ubuntu', sans-serif;
}

.todo-item{
    width: 100%;
}
.list-group-item:hover{
    background-color: rgb(82, 194, 184);
}

.todo-button{
    float: right;
}