body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(204, 235, 245);
}
.header {
	text-align: center;
}
h1 {
    font: 800 40px 'Montserrat', sans-serif;
    margin: 20px 0;
}
ul {
    height: 400px;
}
li.list-group-item{
    font: 500 24px 'Ubuntu', sans-serif;
    margin: 20px 0 0 0;
    display: flex;
}

li:hover{
    background: rgb(82, 194, 184);
}
li:hover button{
    opacity: 1;
}
li span{
    flex-grow: 1;
}
li button{
    background: red;
}

.todo-done{
    color: #ddd;
}
#inputGroup-sizing-default{
    font: 400 20px 'Ubuntu', sans-serif;
}